#todo-error{
  color: red;
  font-size: 2em;
}
#header {
  outline: solid black 1px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: underline black;
}
#middle-area {
  padding-top: 13%;
  padding-bottom: 13%;
}